$font-family: 'Nunito';
$blue: rgba(61, 52, 139, 1);
$white: rgb(255, 255, 255);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

@mixin page {
    font-family: $font-family;
    background-color: $white;
}

@mixin column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

@mixin buttonA{
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-family: $font-family;
    justify-content:center;
    margin: 10%;
    background-color: $blue;
    color: $white;
    font-size:3em;
    border: none;
}

@mixin buttonB{
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 10%;
    font-family: $font-family;
    font-size: 1.2em;
    color: $white;
    background-color: $blue;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    border: none;
}

@mixin shadow{
    -webkit-box-shadow: 4px 4px 8px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 4px 8px 3px rgba(0,0,0,0.25);
    box-shadow: 4px 4px 8px 3px rgba(0,0,0,0.25);

    
}

html {
    @include page();
}

body {
    @include page();
}

.shopCart{
    @include column();

    .addProducts{
        margin: 20px;
        width: 55%;
        border-radius: 20px;
        background-color: $white;
        @include column();
        
        .buttonProduct {
            @include buttonA();
            }
        
    }

    .finalInfo{

        @include shadow();
        display:flex;
        flex-direction: column;

        margin: 20px;
        width: 35%;

        border-radius: 120px;

        color:$blue;

        padding-top:60px;
        padding-bottom: 60px;

        justify-content: center;
        align-items: center;   
        
        
        h3{
            font-size: 1.5em;
            padding: 10px;
        }

        p{
            font-size: 1.2em;
            padding: 20px;
        }   

        .payButton{
        
           @include buttonB(); 
        }

        
    }

}










